@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html, body {
    background-color: lightgray;
}

header {

}

menu {

}

menu ul {
    
}

main {

}

article {

}

footer {

}

