@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right,#556658, #7CEA94);
}

main {
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(26, 102, 42, 0.576);
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    text-align: center;
    text-shadow: 1px 1px 2px rgba(33, 41, 35, 0.322);
    color: #556658;
}

h2 {
    color: #1A662B;
}

p {
    text-align: justify;
}